**.profraw
**/__fuzz__/**
result*
result*/**
**/target/**
/.bin/**
/.vscode/**
/.zed/**
/artifact/**
/compile-env
/compile-env/**
/dev-env-template/**
/dpdk-sys/.macro_eval.c
/dpdk-sys/dpdk_wrapper-precompile.h*
*.pch
/bin

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
