**.profraw
**/__fuzz__/**
result*
result*/**
**/target/**
/.bin/**
/.vscode/**
/.zed/**
/artifact/**
/compile-env
/compile-env/**
/dpdk-sys/.macro_eval.c
/dpdk-sys/dpdk_wrapper-precompile.h*
*.pch
/bin
sysroot
devroot
