[package]
name = "dataplane-mgmt"
version = "0.1.0"
edition = "2024"
publish = false
license = "Apache-2.0"

[[test]]
name = "reconcile"
path = "tests/reconcile.rs"
required-features = ["bolero"]

[features]
default = []
fake-pci-as-netdevsim = ["interface-manager/netdevsim"]
bolero = ["dep:bolero", "interface-manager/bolero", "id/bolero", "net/bolero"]

[dependencies]
# internal
args = { workspace = true }
config = { workspace = true }
concurrency = { workspace = true }
gateway_config = { workspace = true }
id = { workspace = true }
interface-manager = { workspace = true }
lpm = { workspace = true }
nat = { workspace = true }
net = { workspace = true }
pkt-meta = { workspace = true }
rekon = { workspace = true }
routing = { workspace = true }
stats = { workspace = true }
tracectl = { workspace = true }
vpcmap = { workspace = true }


# external
async-trait = { workspace = true }
bolero = { workspace = true, optional = true, default-features = false, features = ["alloc"] }
bytes = { workspace = true }
caps = { workspace = true }
chrono = { workspace = true }
derive_builder = { workspace = true }
futures = { workspace = true }
linkme = { workspace = true }
multi_index_map = { workspace = true}
netdev = { workspace = true }
rtnetlink = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
tonic = { workspace = true }
tracing = { workspace = true }
tracing-test = { workspace = true }

[dev-dependencies]
# internal
fixin = { workspace = true }
id = { workspace = true, features = ["bolero"] }
interface-manager = { workspace = true, features = ["bolero"] }
lpm = { workspace = true, features = ["testing"] }
net = { workspace = true, features = ["bolero"] }
pipeline = { workspace = true }
routing = { workspace = true, features = ["testing"] }
test-utils = { workspace = true }

# external
bolero = { workspace = true, default-features = false, features = ["alloc"] }
caps = { workspace = true }
gateway_config = { workspace = true, features = ["bolero"] }
ipnet = { workspace = true }
pretty_assertions = { workspace = true }
tracing-test = { workspace = true, features = [] }
