[package]
name = "dataplane-nat"
edition.workspace = true
license.workspace = true
publish.workspace = true
version.workspace = true

[features]
shuttle = ["concurrency/shuttle", "dep:shuttle"]

[dependencies]
ahash = { workspace = true }
arc-swap = { workspace = true }
concurrency = { workspace = true, features = [] }
config = { workspace = true }
flow-info = { workspace = true }
left-right = { workspace = true }
linkme = { workspace = true }
lpm = { workspace = true }
net = { workspace = true }
pipeline = { workspace = true }
pkt-meta = { workspace = true }
rand = { workspace = true, features = ["thread_rng"] }
roaring = { workspace = true }
shuttle = { workspace = true, optional = true }
thiserror = { workspace = true }
tracectl = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
# internal
fixin = { workspace = true }
test-utils = { workspace = true }
lpm = { workspace = true, features = ["testing"] }
net = { workspace = true, features = ["bolero"] }
tracectl = { workspace = true }

# external
bolero = { workspace = true, default-features = false, features = ["alloc"] }
etherparse = { workspace = true }
shuttle = { workspace = true, features = [] }
tracing-test = { workspace = true, features = [] }
