[package]
name = "dataplane-lpm"
edition.workspace = true
license.workspace = true
publish.workspace = true
version.workspace = true

[features]
testing = ["dep:bolero"]

[dependencies]
bnum = { workspace = true }
bolero = { workspace = true, optional = true }
ipnet = { workspace = true, features = ["serde"] }
num-traits = { workspace = true }
prefix-trie = { workspace = true }
serde = { workspace = true, features = ["derive"] }
thiserror = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
bolero = { workspace = true, default-features = false }
serde_yaml_ng = { workspace = true }
