[package]
name = "dataplane-routing"
version = "0.1.0"
edition = "2024"
publish = false
license = "Apache-2.0"

[features]
testing = []

[dependencies]
# internal
args = { workspace = true }
cli = { workspace = true }
config = { workspace = true }
dplane-rpc = { workspace = true }
left-right-tlcache = { workspace = true }
lpm = { workspace = true }
net = { workspace = true, features = ["test_buffer"] }
tracectl = { workspace = true }

# external
ahash = { workspace = true }
bitflags = { workspace = true }
bytes = { workspace = true }
chrono = { workspace = true }
derive_builder = { workspace = true }
ipnet = { workspace = true }
left-right = { workspace = true }
linkme = { workspace = true }
mio = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }

# arp resolver
procfs = { workspace = true }
netdev = { workspace = true }

[dev-dependencies]
bolero = { workspace = true, default-features = false }
concurrency = { workspace = true }
lpm = { workspace = true, features = ["testing"] }
rand = { workspace = true }
tracing-test = { workspace = true }

