[env]
C_INCLUDE_PATH = { value = "sysroot/include", relative = true, force = false }
GW_CRD_PATH = { value = "devroot/src/gateway/config/crd/bases", relative = true, force = false }
LIBCLANG_PATH = { value = "devroot/lib", relative = true, force = true }
LIBRARY_PATH = { value = "sysroot/lib", relative = true, force = false }
PKG_CONFIG_PATH = { value = "sysroot/lib/pkgconfig", relative = true, force = true }

[unstable]
build-std = [
  "compiler_builtins",
  "core",
  "alloc",
  "std",
  "panic_unwind",
  "proc_macro"
]
build-std-features = ["backtrace", "panic-unwind", "mem"]

[build]
rustflags = [
  "--cfg=tokio_unstable",
  "-Ccodegen-units=64",
  "-Cdebug-assertions=on",
  "-Cdebuginfo=full",
  "-Cdwarf-version=5",
  "-Clink-arg=-fuse-ld=lld",
  "-Clinker=clang",
  "-Copt-level=0",
  "-Coverflow-checks=on",
  "-Ctarget-cpu=generic",
]
