[env]
SYSROOT = { value = "sysroot", relative = true, force = false }
C_INCLUDE_PATH = { value = "sysroot/include", relative = true, force = false }
LIBRARY_PATH = { value = "sysroot/lib", relative = true, force = false }
PKG_CONFIG_PATH = { value = "sysroot/lib/pkgconfig", relative = true, force = false }
GW_CRD_PATH = { value = "devroot/src/gateway/config/crd/bases", relative = true, force = false }
LIBCLANG_PATH = { value = "devroot/lib", relative = true, force = false }

[build]
rustflags = ["--cfg=tokio_unstable"]

[target.x86_64-unknown-linux-gnu]
rustflags = ["--cfg=tokio_unstable", "-Clinker=clang", "-Clink-arg=-fuse-ld=lld"]

[target.x86_64-unknown-linux-musl]
rustflags = ["--cfg=tokio_unstable", "-Clinker=x86_64-unknown-linux-musl-clang", "-Clink-arg=-fuse-ld=lld"]

[target.aarch64-unknown-linux-gnu]
rustflags = ["--cfg=tokio_unstable", "-Clinker=aarch64-unknown-linux-gnu-clang", "-Clink-arg=-fuse-ld=lld"]

[target.aarch64-unknown-linux-musl]
rustflags = ["--cfg=tokio_unstable", "-Clinker=aarch64-unknown-linux-musl-clang", "-Clink-arg=-fuse-ld=lld"]

[profile.debug]
lto = "fat"

[profile.release]
rustflags = ["-Clinker-plugin-lto", "-Cembed-bitcode=yes", "-Clink-arg=-Wl,--as-needed,--gc-sections"]
