[env]
LIBCLANG_PATH = { value = "compile-env/lib", relative = true, force = false }
PKG_CONFIG_PATH = { value = "compile-env/sysroot/x86_64-unknown-linux-gnu/debug/lib/pkgconfig", relative = true, force = false }
LIBRARY_PATH = { value = "compile-env/sysroot/x86_64-unknown-linux-gnu/debug/lib", relative = true, force = false }
C_INCLUDE_PATH = { value = "compile-env/sysroot/x86_64-unknown-linux-gnu/debug/include", relative = true, force = false }
GW_CRD_PATH = { value = "devroot/src/gateway/config/crd/bases", relative = true, force = false }

[build]
rustflags = ["--cfg", "tokio_unstable"]

[target.x86_64-unknown-linux-gnu]
runner = ["scripts/test-runner.sh"]
