[env]
COMPILE_ENV = { value = "compile-env", relative = true, force = false }
LIBCLANG_PATH = { value = "compile-env/lib", relative = true, force = true }

[build]
target = "x86_64-unknown-linux-gnu"
rustflags = ["--cfg", "tokio_unstable"]

[target.x86_64-unknown-linux-gnu]
runner = ["scripts/test-runner.sh"]
