[package]
name = "dataplane-dpdk"
version = "0.1.0"
edition = "2024"
publish = false
license = "Apache-2.0"

[features]
default = ["serde"]
serde = ["dep:serde"]

[dependencies]

args = { workspace = true }
dpdk-sys = { workspace = true }
driver = { workspace = true }
errno = { workspace = true }
hardware = { workspace = true }
interface-manager = { workspace = true }
net = { workspace = true }

ctrlc = { workspace = true, features = ["termination"] }
libc = { workspace = true }
nix = { workspace = true }
rkyv = { workspace = true, features = [] }
serde = { workspace = true, optional = true }
thiserror = { workspace = true }
tracing = { workspace = true, features = ["attributes"] }

[build-dependencies]
dpdk-sysroot-helper = { workspace = true }
