[package]
name = "dataplane-dpdk"
edition.workspace = true
license.workspace = true
publish.workspace = true
version.workspace = true

[features]
default = ["serde"]
serde = ["dep:serde"]

[dependencies]

dpdk-sys = { workspace = true }
errno = { workspace = true }
net = { workspace = true }

serde = { workspace = true, optional = true }
thiserror = { workspace = true }
tracing = { workspace = true, features = ["attributes"] }

[build-dependencies]
dpdk-sysroot-helper = { workspace = true }
