name: "scratch"

on:
    pull_request: {}
    push:
        branches:
            - "main"
        tags:
            - "v*"
    merge_group:
        types: ["checks_requested"]
    workflow_dispatch:
        inputs:
            debug_enabled:
                type: "boolean"
                description: "Run with tmate enabled"
                required: false
                default: false
            debug_justfile:
                type: "boolean"
                description: "enable to see debug statements from just recipes"
                required: false
                default: false
            skip_vlab_tests:
                type: "boolean"
                description: "Skip VLAB tests (they run by default)"
                required: false
                default: false
            run_hlab_tests:
                type: "boolean"
                description: "Run hybrid HLAB tests"
                required: false
                default: false
            enable_release_tests:
                type: "boolean"
                description: "Enable release tests for VLAB/HLAB tests"
                required: false
                default: false

concurrency:
    group: "${{ github.workflow }}:${{ github.event.pull_request.number || github.event.after || github.event.merge_group && github.run_id }}"
    cancel-in-progress: true

permissions:
    contents: "read"
    packages: "write"
    id-token: "write"

jobs:
    check:
        env:
            CACHE_REGISTRY: "run.h.hhdev.io:30000"
            UPSTREAM_REGISTRY: "ghcr.io"
        needs:
            - check_changes
            - version
        permissions:
            checks: "write"
            pull-requests: "write"
            contents: "read"
            packages: "write"
            id-token: "write"
        strategy:
            fail-fast: false
            matrix:
                profile:
                    - name: "debug"
                      sterile: ""
                    - name: "debug"
                      sterile: "sterile"
                    - name: "release"
                      sterile: "sterile"
                    - name: "fuzz"
                      sterile: "sterile"
                    #- name: "release"
                    #  sterile: ""
                    #- name: "fuzz"
                    #  sterile: ""
                debug_justfile:
                    - "${{ inputs.debug_justfile || false }}"
        name: "${{matrix.profile.name}} ${{matrix.profile.sterile}}"
        runs-on: "lab"
        timeout-minutes: 120
        steps:
            - name: "install nix"
              uses: "cachix/install-nix-action@v31"
              with:
                  nix_path: nixpkgs=channel:nixpkgs-unstable

            - name: "login to ghcr.io"
              uses: "docker/login-action@v3"
              with:
                  registry: "${{ env.UPSTREAM_REGISTRY }}"
                  username: "${{ github.actor }}"
                  password: "${{ secrets.GITHUB_TOKEN }}"

            - name: "login to image cache"
              uses: "docker/login-action@v3"
              with:
                  registry: "${{ env.CACHE_REGISTRY }}"
                  username: "${{ secrets.LAB_REGISTRY_USERNAME }}"
                  password: "${{ secrets.LAB_REGISTRY_TOKEN }}"

            - name: "Checkout"
              uses: "actions/checkout@v6"
              with:
                  persist-credentials: "false"
                  fetch-depth: "0"

            - name: "build sysroot/devroot"
              run: |
                  nix build -f default.nix sysroot --show-trace --max-jobs 8 --out-link sysroot
                  nix build -f default.nix devroot --show-trace --max-jobs 8 --out-link devroot

            - name: "cargo build / nextest"
              run: |
                  export PATH="$(pwd)/devroot/bin:$PATH"
                  cargo build
                  cargo nextest run

            - id: "clippy"
              name: "run clippy"
              run: |
                  cargo clippy --all-targets --all-features -- -D warnings

            - id: "docs"
              name: "run rustdoc"
              run: |
                  RUSTDOCFLAGS="-D warnings" cargo doc --no-deps

            - name: "run doctests"
              run: |
                  cargo test --doc

            - name: "Setup tmate session for debug"
              # if: ${{ failure() && github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
              uses: "mxschmitt/action-tmate@v3"
              timeout-minutes: 120
              with:
                  limit-access-to-actor: true
