[package]
name = "dataplane-net"
edition.workspace = true
license.workspace = true
publish.workspace = true
version.workspace = true

[features]
default = []
serde = ["id/serde"]
netdevsim = []

bolero = ["dep:bolero", "id/bolero"]
test_buffer = []

[dependencies]
ahash = { workspace = true }
arrayvec = { workspace = true, features = ["serde", "std"] }
bitflags = { workspace = true }
bolero = { workspace = true, features = ["alloc", "arbitrary", "std"], optional = true }
bytecheck = { workspace = true }
concurrency = { workspace = true }
derive_builder = { workspace = true, features = ["alloc"] }
etherparse = { workspace = true, features = ["std"] }
flow-info = { workspace = true }
id = { workspace = true }
linkme = { workspace = true }
linux-raw-sys = { workspace = true, features = ["std", "if_ether"] }
multi_index_map = { workspace = true, default-features = false, features = ["serde"] }
ordermap = { workspace = true, features = ["std"] }
rkyv = { workspace = true, features = ["alloc", "bytecheck"]}
serde = { workspace = true, features = ["derive", "std"] }
thiserror = { workspace = true }
tracectl = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
bolero = { workspace = true, features = ["alloc", "arbitrary", "std"] }
etherparse = { workspace = true, default-features = false, features = ["std"] }
ordermap = { workspace = true }

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(kani)'] }
