# Virtio guest devices
#
# VIRTIO_MENU is the menuconfig gate for all virtio drivers.
# TTY is required by VIRTIO_CONSOLE (depends on TTY).
CONFIG_VIRTIO_MENU=y
CONFIG_TTY=y

CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES=y
CONFIG_VIRTIO_FS=y
CONFIG_VIRTIO_VSOCKETS=y